/* styles.css */
body {
    background-color: #019ba5;
    /* background: linear-gradient(180deg, #e5bb35, #3f3f9f); /* Gradient background */
    padding: 0%;
    /* color: white; */
    margin: 0;
    
    }

  
img {
    width: 5%;
    mix-blend-mode: normal;
    background-color: transparent;
    }


/* Container for the buttons */
.button-container {
    /* min-height: 50%; */
    display: grid;
    grid-template-columns:auto auto;
    /* background-color: #2196F3; */
    /* padding: 50px; */
    margin-right: 15%;
    margin-left: 15%;
    row-gap: 1%;
    column-gap: 7%;
    justify-content:center;
    /* flex-direction: column; */
    align-items: center;
    cursor:pointer;
    
  }
.icon-button {
    width: 220px;
    height:220px;
    border: 2px solid rgb(255, 255, 255);
    /* padding: 50px; */
    /* font-size: 30px; */
    text-align: center;
    flex-direction: column;
    display:table-row;
    text-decoration:none;
    /* text-align: center; */
    transition: transform 0.3s ease;
    /* padding: -1px; */
}

.icon-button span {
    /* position: relative; */
    font-family:"b_titrbold";
    font-weight: bolder;
    display: block;
    margin-top: 13%; /* Space between image and text */
    color: #ffffff; /* Text color */
    font-size: 18px; /* Font size */
    text-align:center;
    }

.icon-button img {
    width: 70%; /* Adjust size as needed */
    height: 70%; /* Adjust size as needed */
    /* border-radius: 10px; */
    transition: transform 0.3s ease;
    mix-blend-mode:normal;
    background-color: transparent;
    
    /* border:solid 3px ; */
    /* border-color: #520072; */
    }

.icon-button:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
    /* border-color: #5108c5d5; */
    }

.footer-text h1 {
    font-family: "b_titrbold";
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
    color: #ffffff;
    margin-bottom: 2%;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
    .button-container {
/*         display: grid; */
        grid-template-columns:auto auto;
        margin-right: 10%;
        margin-left: 10%;
        row-gap: 1%;
        column-gap: 5%;
        }

    .icon-button {
        width: 140px;
        height:140px;
        border: 1px solid rgb(255, 255, 255);
 
        }

    .icon-button img {
        width: 45%; /* Adjust size as needed */
        height: 45%; /* Adjust size as needed */
        }

    .icon-button span {
        margin-top: 5%; /* Space between image and text */
        font-size: 10px; /* Font size */  
        }
    }

    .footer-text h1 {
        font-size: 20px;
    }
