/* styles.css */
@font-face {
    font-family: 'BNazanin';
    src: url('/fonts/bnazanin/BNazanin.woff') format('woff'),
    url('/fonts/bnazanin/BNazanin.woff2') format('woff2'),
         url('/fonts/bnazanin/BNazanin.eot') format('eot'),
         url('/fonts/bnazanin/BNazanin.ttf') format('truetype');
  }

/*@font-face {*/
/*    font-family: 'btitrbold';*/
/*    src: url('/fonts/btitrbd-webfont.woff') format('woff'),*/
/*         url('/fonts/btitrbd-webfont.woff2') format('woff2');*/
/*    }*/
  
body {
    font-family: 'BNazanin', sans-serif;
    background-color: #019ba5;
    /* background: linear-gradient(180deg, #e5bb35, #3f3f9f); /* Gradient background */
    padding: 0%;
    /* color: white; */
    margin: 0;
    
    }

  
img {
    mix-blend-mode: normal;
    background-color: transparent;
    width: 50%;
    }


/* Container for the buttons */
.button-container {
    /* min-height: 50%; */
    display:grid;
    grid-template-columns:25% 25% ;
    /* background-color: #2196F3; */
    /* padding: 50px; */
    margin-right: 10%;
    margin-left: 10%;
    row-gap: 3%;
    column-gap: 8%;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    
  }
.icon-button {
    /* width: 80%;  */
    /* height: 100%; */
    border: 0.5px solid rgba(189, 189, 189, 0.616);
    /* border-inline-color: #ffffff9a; */
    background-color: #80a3a848;
    border-radius: 10%;
    /* padding: 50px; */
    /* font-size: 30px; */
    text-align: center;
    display:inline-block;
    text-decoration:none;
    /* text-align: center; */
    transition: transform 0.3s ease, box-shadow 20s ease;
    box-shadow: 0px 8px 15px rgba(37, 37, 37, 0.521);
    cursor:pointer;
}

.icon-button span {
    position: relative;
    font-weight: bolder;
    display: block;
    margin-top: 5%; /* Space between image and text */
    color: #ffffff; /* Text color */
    font-size: 110%; /* Font size */
    text-align: center;
    margin-bottom: 8%;
    }

.icon-button img {
    width: 60%; 
    height: 60%; 
    /* border-radius: 10px; */
    transition: transform 0.3s ease;
    mix-blend-mode:normal;
    background-color: transparent;
    margin-top: 5%;
    /* border:solid 3px ; */
    /* border-color: #520072; */
    }

.icon-button:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
    /* border-color: #5108c5d5; */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

.footer-text h1 {
    font-family: "BNazanin";
    font-size: 200%;
    font-weight: bolder;
    text-align: center;
    color: #ffffff;
    margin-bottom: 2%;
    margin-top: 3%;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
    img {
        width: 60%;
        }
    .button-container {
        /* min-height: 50%; */
        display: grid;
        grid-template-columns:40% 40%;
        }

    .icon-button {
        border: 0.5px solid rgba(189, 189, 189, 0.616);
        background-color: #80a3a848;
        border-radius: 10%;
        text-align: center;
        display:inline-block;
        text-decoration:none;
        transition: transform 0.3s ease, box-shadow 20s ease;
        box-shadow: 0px 8px 15px rgba(37, 37, 37, 0.521);
        cursor:pointer;
        }

    .icon-button img {
        width: 50%; /* Adjust size as needed */
        height: 50%; /* Adjust size as needed */
        transition: transform 0.3s ease;
        mix-blend-mode:normal;
        background-color: transparent;
        margin-top: 5%;
        }

    .icon-button span {
        position: relative;
        font-family:"BNazanin";
        font-weight: bolder;
        display: block;
        margin-top: 5%; /* Space between image and text */
        color: #ffffff; /* Text color */
        font-size: 60%; /* Font size */
        text-align: center;    
        }
        
    .footer-text h1 {
        font-family: "BNazanin";
        font-size: 20px;
        font-weight:bolder;
        text-align: center;
        color: #ffffff;
        margin-bottom: 2%;
        }
    }
    
